@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

html {
  margin: 0;
}

body {
  margin: 0;
  /* free svg backgrounds https://www.svgbackgrounds.com/#protruding-squares */
  background-color: #e8eed6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c5cab6' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

header {
  font-family: 'Yusei Magic', sans-serif;
  background: #fefefedd;
  position: fixed;
  box-shadow: 4px 4px 4px black;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 2px 2px 4px silver;
}
main {
  padding-top: 8em;
}

h1 {
  margin: 0;
}

h2 , h3 {
  font-family: 'Yusei Magic', sans-serif;
  margin-left: 1em;
}

section, form {
  min-height: 12.5em;
  background-color: hsla(150, 99%, 99%, 0.9);
  border: 2px groove grey;
  margin: 1em auto;
  min-width: 45em;
}

section:first-of-type {
  margin-top: 0;
  overflow-x:auto;

}

div[class^='notepad'] {
  width: 49%;
  border: 1px solid black;
  height: 20em;
  min-width: 20em;
  display: inline-block;
  margin-bottom: 3em;
  vertical-align: top;
}

.notepad-container div {
  background-color: lightgoldenrodyellow;
  width: 10em;
  height: 10em;
  margin: 5em auto;
  overflow: auto;
  box-sizing: border-box;
}


.notepad-details {
  display: flex;
  align-items: center;
  justify-content: center;

}

.notepad-details img {
  padding: 5em;

}

.notepad-details .doubles-img {
  padding: 2em;
}

p {
  margin: 0;
  font-size: 1em;
}

footer {
    font-family: 'Yusei Magic', sans-serif;
}
